{% assign pageTitle = article.title | append: ' | Ad Connect' %}
{% render 'partials/head.liquid', title: pageTitle, css: 'nieuws-detail' %}

<main>
    <section id="article-header">
        <div class="article-header-tekst">
            <h1>{{ article.title }}</h1>
            <p>{{ article.author }}</p>
            <p>{{ article.date | date: '%d %B %Y' }}</p>
        </div>
        {% if article.hero %}
        <picture>
            <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ article.hero.id }}?format=avif&width=1200">
            <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ article.hero.id }}?format=webp&width=1200">
            <img 
                src="https://fdnd-agency.directus.app/assets/{{ article.hero.id }}?width=1200" 
                alt="{{ article.title }}"
                width="{{ article.hero.width }}"
                height="{{ article.hero.height }}"
                loading="eager">
        </picture>
        {% endif %}
    </section>  

    <div id="article-body">
        {{ article.body | raw }}
    </div>

    {% render 'partials/reacties.liquid', article: article, succes: succes, error: error %}

</main>

{% render 'partials/foot.liquid' %}