{% comment %} dynamische titel meegeven en  {% endcomment %}
{% render 'partials/head.liquid', title: 'Nieuws | Ad Connect', css: 'nieuws' %}

<main>
    <section id="hero-section">
        <h1>Nieuws</h1>
        <p>
            Op deze pagina vind je updates en korte verslagen van georganiseerde evenementen
        </p>
    </section>

    <section id="nieuwsoverzicht">
        <h2>Alle nieuws</h2>
        <p>Aantal artikelen: {{ news.size }} </p>

        {% comment %} if news artikelen > 0 then for each (newsartikel) een kaart in li {% endcomment %}
        {% if news.size > 0 %} 
            <ul class="nieuws-grid">       
                {%  for article in news  %}
                    <li class="nieuws-kaart">
                        {% if article.hero %}
                        <picture>
                            <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ article.hero.id }}?format=avif&width=800">
                            <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ article.hero.id }}?format=webp&width=800">
                            <img 
                                src="https://fdnd-agency.directus.app/assets/{{ article.hero.id }}?width=800" 
                                alt="{{ article.title }}"
                                width="{{ article.hero.width }}"
                                height="{{ article.hero.height }}"
                                loading="lazy">
                        </picture>
                        {% endif %}
                        <p class="datum">{{ article.date | date:' %d %B %Y' }}</p>
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.description }}</p>
                        <a href="/nieuws/{{ article.uuid }}" class="button-blue">Meer informatie</a>
                    </li>   
                {% endfor %}   
            </ul>     
        {% else %}    
            <p>Er zijn nog geen nieuwsartikelen.</p>
        {%  endif %}    
    </section>
</main>

{% render 'partials/foot.liquid' %}